<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/badmoshi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/badmoshi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dekh"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dekh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".widget.WidgetReceiver"
            android:exported="true">

            <intent-filter>
                <!-- This filter is crucial for handling the widget's actions. -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.pure.dekh.refresh" />
                <action android:name="com.pure.dekh.update" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>